<!doctype html>
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <title>A Key Value Store!</title>
    </head>
    <body>
        <h1>Welcome to the GO KV store!</h1>
        <a href="/">Home sweet home!</a>
        <a href="/list">List all elements!</a>
        <a href="/change">Change an element!</a>
        <a href="/insert">Insert an element!</a>
    </body>
</html>
